esdk-obs-python
matplotlib
mysql-connector-python
numpy
opencv-python
pillow
pyclipper
pyinstaller == 5.13.2
pyqt6
pyqt6-sip
pyyaml
scikit-image
scikit-learn
shapely
sympy
tensorrt-cu11
torch
torchvision
tqdm
ultralytics
